@font-face {
    font-family: "Horize";
    src: url("./../resources/HorizeFont-Regular.ttf");
}

body {
    font-family: Horize;
    font-style: italic;
    margin: 0;
    padding: 0;
    background-color: #101015;
    background-image: url("./../resources/misc/skoda-octavia-rs-background.png");
    background-size: cover;
    color: #fff;
    -webkit-text-stroke: 1px #000;
}

.text-stroke-2 {
    -webkit-text-stroke: 2px #000;
}
.text-stroke-3 {
    -webkit-text-stroke: 3px #000;
}
.text-stroke-4 {
    -webkit-text-stroke: 4px #000;
}
.text-stroke-5 {
    -webkit-text-stroke: 5px #000;
}
.text-stroke-6 {
    -webkit-text-stroke: 6px #000;
}

.container-fluid {
    margin-top: 10vh;
}

h1 {
    font-size: 93px;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    body {
        background-size: contain;
        background-repeat: repeat;
    }
}
